body{
  position: absolute;
  background-color: #dfffec;
  margin-left: 300px;
}

.App {
  text-align: center;
}

h1{
  border: 5px solid #100ccc;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
  border-bottom: 2px solid #b2b1f7;
}